.waterfall-60 {
    max-width: 60%;
    margin: 0 auto;
}

.head {
    background-color: #ccc;
    padding: 5vh 0;
}

.head > img {
    position: absolute;
    top: 0;
    max-height: 100%;
}

.article-page-h1 {
    font-size: 7vh;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: -1vh;
}

.time {
    font-size: 2.5vh;
}

.blurb {
    font-size: 3vh;
}

.article-text {
    font-size: 2.5vh;
}
