.waterfall {
    max-width: 60%;
}

.head {
    background-color: #ccc;
}

.head > img {
    position: absolute;
    top: 0;
    max-height: 100%;
}

.head > .waterfall {
}

h1 {
    font-size: 7vh;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: -3vh;
}

.time {
    font-size: 3vh;
}

.blurb {
    font-size: 4vh;
}
