body {
  background-color: black;
  color: yellow;
}

.Header {
  border-bottom: 2px solid white;
}

.Header nav {
  margin: 0 auto;
  align-items: center;
  max-width: 1048px;
  display: flex;
  justify-content: flex-end;
  padding: 10px
}

.Header nav a {
  color: cyan;
  display: inline-block;
  padding: 5px 15px;
  line-height: 1;
}

.Header nav button {
  color: cyan;
  display: inline-block;
  padding: 5px 15px;
  background-color: rgba(0,0,0,0);
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 100%;
}
