.card {
    display: table;
    width: 100%;
    border: solid #bbb 1px;
    margin: 10vh 0;
}

.card-left {
    display: table-cell;
    width: 20%;
}

.card-left > img {
    max-width: 100%;
    max-height: 100%;
}

.card-right {
    display: table-cell;
    width: 80%;
}

.card-right > span {
}
